.DS_Store
**/.DS_Store
.byebug_history
.rspec_status

# https://github.com/github/gitignore/blob/master/Rails.gitignore
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

*gemfile.lock
.byebug_history
*.sqlite3
*.sqlite
*.log