.DS_Store
**/.DS_Store

# https://github.com/github/gitignore/blob/master/Rails.gitignore
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/test/dummy/log/*
/test/dummy/tmp/*
/test/dummy/db/*.sqlite3
/test/dummy/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
